.badgeClass{
    position: absolute;
    /* top: -11px; */
    /* right: -11px; */
    line-height: 22px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: red;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    font-size: 12px;
    top:-10px;
    color: white;
}