.checkoutButton{
    background: darkblue;
                  color: white;
                  font-size: 18px;
                  font-weight: bolder;
                  padding: 10px;
                  width:80%;
                  border-radius: 15px;
}
.order-btn{
    background-color:#2cd2b1!important;
    color:white;
}