.mat-card{
    margin: 5px;
}
.mat-card-header-text{
    width:100%;
}
.taxonomy li{
    padding: 0px !important;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    border:2px solid black;
}
.colorClass{
    border-radius: 50%;position:absolute;
}
.innerColorClass{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:3px;   
}
.outerColorClass
{
    width:100%;
    height:100%;
}
.selectedOuterClass{
    border:2px solid black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    
}
::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:gray;
    border-color:gray;
}
::ng-deep .page-item .page-link {
    color: gray;
}
/* .mat-input-flex{
    border:0px !important;
} */
/* ::ng-deep .mat-input-underline {
    display: none;
} */
.rowRev{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
}
/* ::ng-deep .mat-form-field-label-wrapper{
display:none;
} */
.searchBox input{
    border: 1px solid #80808036;
    height: 40px;
    text-indent: 10px;
    width: 100%;
    border-radius: 3px;
}
.search { position: relative;}
.search input { text-indent: 10px;float:right;}
.search .fa-search { 
    position: absolute;
    right: 10px;
    top: 10px;
}