<div  class="row">
    <div  class="col-s-3" style="padding:20px;box-shadow: 1px 2px 2px #aaaaaa;BACKGROUND-COLOR: #f6f6e1 !important;">
      <h6 style="border-bottom:1px solid rgba(0, 0, 0, 0.13);padding-bottom:10px;">Filter By</h6>
      <div  class="filter-box" style="padding:20px 0px;border-bottom:1px solid rgba(0, 0, 0, 0.13);">
        <h6 >
            Apparel Type
            <span><i class="fa fa-minus" style="float:right;margin-top:2px;" *ngIf="!!offers" (click)="offers=false;"></i></span>
            <span><i class="fa fa-plus" style="float:right;margin-top:2px;" *ngIf="!offers" (click)="offers=true;"></i></span>
        </h6>
        <ul  class="taxonomy" style="padding: 5px !important;list-style-type: none;" *ngIf="offers">
                <li *ngFor="let filterItem of filterItems; let i = index;" class="form-check" >
                  <label class="vertical-filters-label common-customCheckbox sideNavcomp">
                    <mat-checkbox class="example-margin" [(ngModel)]="filterItem.checked" [value]="filterItem.value">{{filterItem.value}}</mat-checkbox>
                  </label>
                </li>           
        </ul>
      </div>
      <div style="padding:20px 0px;border-bottom:1px solid rgba(0, 0, 0, 0.13);">
          <h6 >
              Colors
              <span><i class="fa fa-minus" style="float:right;margin-top:2px;" *ngIf="!!colors" (click)="colors=false;"></i></span>
              <span><i class="fa fa-plus" style="float:right;margin-top:2px;" *ngIf="!colors" (click)="colors=true;"></i></span>
          </h6>
          <ul  class="taxonomy" style="padding: 5px !important;list-style-type: none;" *ngIf="colors">
              <li *ngFor="let color of colorItems; let i = index;" class="form-check" style="display:inline-block;margin:10px!important;height:40px;width:40px;position:relative!important" >
                <div class="colorClass outerColorClass" [ngClass]="{'selectedOuterClass': !!color.checked}"  style="color:white;" (click)="selectColor(i)">
                   <div class="colorClass innerColorClass"  [ngStyle]="{'background-color': color.value}" ></div>
                </div>
              </li>  
          </ul>
      </div>
      <div style="padding:20px 0px;border-bottom:1px solid rgba(0, 0, 0, 0.13);">
          <h6 >
              Sales
              <span><i class="fa fa-minus" style="float:right;margin-top:2px;" *ngIf="!!salesBox" (click)="salesBox=false;"></i></span>
              <span><i class="fa fa-plus" style="float:right;margin-top:2px;" *ngIf="!salesBox" (click)="salesBox=true;"></i></span>
          </h6>
          <ul  class="taxonomy" style="padding: 5px !important;list-style-type: none;" *ngIf="salesBox">
              <li *ngFor="let sale of saleItems; let i = index;" class="form-check" style="display:inline-block;margin:10px!important;height:40px;width:40px;position:relative!important" >
                  <label class="vertical-filters-label common-customCheckbox sideNavcomp">
                      <mat-checkbox class="example-margin" [(ngModel)]="sale.checked" [value]="sale.value">{{sale.value}}</mat-checkbox>
                    </label>
              </li>  
          </ul>
      </div>
    </div>
    <div class="col-s-9">
      <div class="row rowRev">
          <!-- <div class="col-s-4" style="height: 42px;margin-top: 10px;">
              <span style="font-size:15px;font-weight:bolder;padding-right:15px;">Sort By:</span>
              <mat-form-field style="min-width: 280px;">
                  <mat-select placeholder="Favorite food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div> -->
        <div class="col-s-5 searchBox" style="margin-top: 20px;padding: 20px;">
              <input placeholder="Search by name.." [(ngModel)]="searchFilter" >
        </div>
      </div>
      <div>
        <div class="row-base" style="display: -webkit-flex; text-align: center;" fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" >
            <!-- <div>{{heroes|json}}</div> -->
            <!-- <div > -->
              <!-- <div>{{products.length}}</div> -->
                <mat-card fxFlex="32%" fxFlex.sm="46%" fxFlex.xs="80%" style="padding:0px !important" *ngFor="let product of products |filter: checked() : filterColorByCheckedValues():searchFilter:saleItems[0].checked">
                   <div (click)="updateProductDetail(product)" style="width:100%">
                      <a routerLink="/list/{{product.id}}">
                        <img  src="assets/images/{{product.url}}.jpg" >
                      </a>
                   </div>
                    <mat-card-content>
                      <!-- <p>{{product.name}}</p> -->
                    </mat-card-content>
                    <mat-card-header style="width:100%;">
                      <div style="width:100%;">
                          <mat-card-title>
                              <div fxHide.xs="true"><a style="text-decoration: underline;" (click)="openDetailDialog(product.id)">Quick Look</a></div>
                              {{product.name}}
                            </mat-card-title>
                            <mat-card-subtitle>{{product.price}}
                                <app-rating [rating]='product.rating'></app-rating>
                            </mat-card-subtitle>
                      </div>
                        <!-- <img mat-card-avatar src="https://source.unsplash.com/random/200x200"> -->
                    </mat-card-header>
                </mat-card>
        </div>
    </div>
    
</div>

